.bg-sunflower {
  background-color: #ea7e55 !important;
}

.bg-element-dark {
  background-color: #5d4770 !important;
}

.bg-element-electro {
  background-color: #ba7a13 !important;
}

.bg-element-fire {
  background-color: #7e2021 !important;
}

.bg-element-ice {
  background-color: #00637a !important;
}

.bg-element-light {
  background-color: #649cde !important;
}

.bg-element-metal {
  background-color: #844904 !important;
}

.bg-element-parasite {
  background-color: #790c8b !important;
}

.bg-element-water {
  background-color: #1d3aa0 !important;
}

.bg-element-wind {
  background-color: #226024 !important;
}

.bg-rarity-common {
  background-color: #192826 !important;
}

.bg-rarity-uncommon {
  background-color: #1c2147 !important;
}

.bg-rarity-rare {
  background-color: #431c21 !important;
}

.bg-rarity-mythic {
  background-color: #431e73 !important;
}

.border-rarity-common {
  border-color: #236937 !important;
}

.border-rarity-uncommon {
  border-color: #54a3ce !important;
}

.border-rarity-rare {
  border-color: #f16b64 !important;
}

.border-rarity-mythic {
  border-color: #b279ce !important;
}

.rounded-t-md {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.rounded-t-lg {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.rounded-t-xl {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
}
